<footer class="site-footer">
  <footer>
  <p>Contact Us:</p>

  <p>
    Location:
    <a href="https://maps.app.goo.gl/9HdfshUvj9aGN3i19" target="_blank">
      Mekanagadde, Mudigere, Chikmagalur – 577132
    </a>
  </p>

  <p>
    Call:
    <a href="tel:+916362179597">+91 6362179597</a>
  </p>

  <p>
    WhatsApp:
    <a href="https://wa.me/918762504467?text=Hi" target="_blank">
      +91 8762504467
    </a>
  </p>

  <p>
    Follow Us:
    <a href="https://www.instagram.com/coffee.mane_homestay" target="_blank">
      📷 Instagram
    </a>
  </p>
</footer>

</footer>
